<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profiles</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/profiles.css">
</head>

<body>
  <main>
    <section id="user-controls">
      <a class="btn" href="/new-user">Add a New User</a>
    </section>
    <section id="user-profiles">
      <ul>
        <li class="user-item">
          <article>
            <img src="" alt="유저 이미지">
            <h2>User Name</h2>
          </article>
        </li>
      </ul>
    </section>
  </main>
</body>
</html>